[2018-07-31 06:29] xtuc opened #1 "Split Rust and JS into their own directories"
After https://github.com/wasm-tool/rust-loader/issues/1 is fixed, we should split JS and Rust into separate directories.

It will be simpler to keep track of where you're working: in JS or Rust.

[2018-07-31 06:32] xtuc opened #2 "Use npm scripts instead of calling binaries"
Instead of calling `./node_modules/.bin/webpack` we could call `npm run build` where npm will take care of resolving the binary in node_modules. It's more user friendly and common.

[2018-08-02 18:23] fitzgen opened #6 "Create gif of using template"
From cloning to building to the "hello from rust" showing up in a page served from local server.

[2018-08-07 15:40] xtuc opened #12 "Run `npm install` after it has been cloned"
We could run `npm install` for the user after the installation: https://github.com/rustwasm/rust-webpack-template/blob/master/.bin/create-rust-webpack.js#L12.

[2018-08-07 17:06] #1 closed

[2018-08-07 17:06] #2 closed

[2018-08-08 08:15] dependabot[bot] opened #14 "Dependabot couldn't find a Cargo.toml for this project"
Dependabot couldn't find a Cargo.toml for this project.

Dependabot requires a Cargo.toml to evaluate your project's current Rust dependencies. It had expected to find one at the path: `/Cargo.toml`.

If this isn't a Rust project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments below to

[2018-08-08 20:01] fitzgen commented on #14
Fixed the config for the move to `crate/`

[2018-08-08 20:01] #14 closed

[2018-08-20 18:13] fitzgen opened #20 "Set up CI for this template"
CI should

* run the local version of the template (not 100% sure how to do this with `npm init` and local packages)
* verify that it builds afterwards (`npm run build`)

am I missing anything else it should do?

[2018-08-22 13:43] nikgraf opened #22 "`npm init rust-webpack my-app` will install to the current directory"
The expected behavior would be to install it to create the my-app directory and install it inside there.

[2018-08-22 13:51] nikgraf opened #23 "Template fails when running `npm start`"
These are the steps I followed

[code]

The issue seems to be due spawning wasm-pack

[code]

My node version v8.11.3 on OSX

[2018-08-22 13:59] xtuc commented on #23
Do you have `wasm-pack` in your $PATH? it is up to date?

[2018-08-22 14:01] nikgraf commented on #23
Nope, don't have wasm-pack in my $PATH.

[code]

[2018-08-22 14:05] nikgraf commented on #23
ahhh ok, so wasm-pack needs to be installed beforehand. just talked to @xtuc and he will update the instructions

[2018-08-22 14:05] xtuc opened #24 "Point to `wasm-pack` installation instructions"
The Webpack plugin assumes that `wasm-pack` is available (https://github.com/wasm-tool/wasm-pack-plugin/issues/22). We should also add a few instruction/information in our README.

[2018-08-22 14:05] xtuc commented on #23
- https://github.com/wasm-tool/wasm-pack-plugin/issues/22
- https://github.com/rustwasm/rust-webpack-template/issues/24

[2018-08-22 14:05] #23 closed

[2018-08-25 11:26] nikgraf opened #27 "Remove .git directory after cloning or download instead of cloning"
When using `npm init rust-webpack` I later on realized that it's still a git repo having an origin to this repository.

Related code: https://github.com/rustwasm/rust-webpack-template/blob/master/.bin/create-rust-webpack.js#L15

[2018-08-29 18:01] fitzgen commented on #20
For reference, here is the (very simple) `create-wasm-app` CI config: https://github.com/rustwasm/create-wasm-app/blob/master/.travis.yml

[2018-08-30 12:07] sendilkumarn commented on #20
waiting for `wasm-pack build command`

[2018-09-13 20:37] fitzgen opened #39 "Prominently explain target use case in README"
This is for people writing a full webpage with rust+wasm+webpack.

Offer link to rustwasm/wasm-pack-template for folks who intend to write standalone libraries that can be used by either people writing webpages or npm packages.

[2018-09-19 17:57] Nfinger opened #42 "Error when I run npm start"
I have wasm-pack installed, I ran npm i, and then npm start and I got the following error
![image](https://user-images.githubusercontent.com/17767789/45771869-3dfa9400-bc14-11e8-9898-3df103b1f263.png)

[2018-09-20 22:23] dakom opened #43 "Typescript example"
Seems that `ts-loader` and/or `awesome-typescript-loader` don't play nicely with the async->sync import solution bindgen produces.

This was already raised and closed here: https://github.com/rustwasm/wasm-bindgen/issues/700 but it might be helpful to have a Typescript boilerplate as a reference someday :)

[2018-09-21 05:15] dakom opened #44 "Web Worker example"
Would be helpful to have a web-worker example... I had lots of trouble getting that to load

[2018-09-21 07:45] xtuc commented on #44
Would you mind sending a PR? What were your troubles?

[2018-09-21 08:47] dakom commented on #44
Sure - I'm happy to fork/adapt to make a web-worker example.

Though when I tried with this repo, just as-is, I got:

[code]

[2018-09-21 09:17] sendilkumarn commented on #44
@dakom can you check this issue https://github.com/rustwasm/wasm-bindgen/issues/799 I think it is the same. Run `cargo update`

[2018-09-21 09:22] dakom commented on #44
Yep, that fixed that error :)

[2018-09-21 09:38] dakom commented on #44
Here you go - I put the changes in its own branch on the fork: https://github.com/dakom/rust-webpack-template/tree/worker-example

[2018-09-21 09:42] sendilkumarn commented on #44
@dakom awesome, let me have a look 👍

[2018-09-21 09:46] dakom commented on #44
Thanks! Related discussion fyi: https://github.com/webpack-contrib/worker-loader/issues/144

[2018-09-24 11:18] sendilkumarn commented on #12
This means that we have to support both `npm` and `yarn` here. Eventhough it is small. I would like to keep this minimum. WDYT?

[2018-09-24 11:20] xtuc commented on #12
We can spawn a shell with `yarn install || npm install`, or just npm. Note that yarn is bundled with some new Nodejs versions.

[2018-09-24 11:21] xtuc commented on #12
I just noticed that we don't use yarn, we can only spawn npm.

[2018-09-24 11:27] sendilkumarn commented on #12
We don't use `yarn` but what if folks use 🤔 Okay I am creating a PR

[2018-09-24 11:48] sendilkumarn commented on #42
@Nfinger Please run `cargo update` and it should work. Thanks 👍

[2018-09-24 11:48] #42 closed

[2018-09-24 11:55] nikgraf commented on #22
@sendilkumarn I suggest to then in the README change it to:

[code]

What do you think?

[2018-09-24 11:57] sendilkumarn commented on #22
well `npm init rust-webpack my-app` does that right?

[2018-09-24 15:17] #24 closed

[2018-09-24 15:18] #12 closed

[2018-09-27 21:04] nikgraf commented on #22
That's exactly what I'm trying to say: this doesn't work. Please try the command in your terminal and you will see it will just install the template in the current directory.

[2018-09-28 20:45] sendilkumarn commented on #22
Nope, it installs in the directory specified. Can you please check?

What is the OS, you are using?

[2018-10-01 09:17] nikgraf commented on #22
OS: OSX 10.13.6
node v10.9.0 (npm v6.2.0)

![rust-wasm-template 2018-10-01 11_16_59](https://user-images.githubusercontent.com/223045/46280206-95c9c100-c56b-11e8-9bfa-19c10d71cc6e.gif)

[2018-10-01 17:17] sendilkumarn commented on #22
From the `log` it seems that you are using the old version of the library.

Can you please try updating the library?

[2018-10-03 11:06] emk commented on #43
TL;DR: The magic tricks are:

- `"module": "esNext"` in `tsconfig.json`
- `await import('./mymod')`
- `typeof import('./mymod')`

## Details

In your `tsconfig.json`, set `"module": "esNext"` so that you can use `async import(...)`:

[code]

In your `webpack.config.js`, enable `ts-loader` (as per the usual instructions) and the experimental built-in `*.wasm` loader:

[code]

Finally, let's assume

[2018-10-05 05:16] scottjmaddox commented on #44
I'm running into the same error when trying to load a wasm-bindgen crate inside a web worker using webpack:

This is only after using [this](https://github.com/webpack/webpack/issues/6642#issuecomment-421857049) workaround for a `window is not defined` error.

Any help would be greatly appreciated.

[2018-10-09 15:58] dakom commented on #43
Thanks @emk - that does seem to work!

Though now Typescript is having trouble loading some other modules... any clue how to fix that? Here's some specific examples:

[code]

In both cases typescript claims it can't find the modules, though they are npm-installed

[2018-10-09 18:09] emk commented on #43
A lot depends on whether your TypeScript setup was working correctly _before_ applying this workaround, I'm sad to say. :-/ It might be missing `*.d.ts` modules, bad lookup paths, wrong magic incantations, etc. Try removing the `await import` and see if you can get the rest working on its own.

[2018-10-10 07:25] dakom commented on #43
Ah - `moduleResolution: node` seemed to do the trick :)

[2018-10-12 19:48] d-dorazio commented on #43
`wasm-pack-plugin` version `0.1.0` was recently released and among other improvements, it now has the option to configure `wasm-pack` to generate TypeScript bindings that can be used in your code.

Here's an example webpack configuration to make use of it:

`webpack.config.js`
[code]

`tsconfig.json`
[code]

example `index.ts`
[code]

[2018-10-16 21:01] AJamesPhillips commented on #42
[code]
(Added this error message text to add search engines find this page and the solution which works, namely `cargo update`)

[2018-10-17 09:30] amcsi opened #57 "error[E0277]: the trait bound `&mut syn::Field: quote::ToTokens` is not satisfied"
The Rust code is failing to compile in my fresh install of this template.
I'm using `rustc 1.31.0-nightly (5af0bb830 2018-10-10)` and `wasm-pack 0.5.1`.
I first did `npm init rust-webpack`, then `npm i`, and now I'm getting this when running `npm start`:

[code]

[2018-10-17 10:40] ddmng commented on #57
Same issue here, same versions

[2018-10-17 15:35] fitzgen commented on #57
Have you tried

[code]

?

[2018-10-17 16:00] ddmng commented on #57
Yes, it worked! thanks.

[2018-10-17 16:33] rsmelo commented on #57
I updated rustup and cargo, now when i run `npm start` it throws a new error.

`ℹ ｢wds｣: Content not from webpack is served from /Users/rsmelo/projects/my-app/dist
wasm-pack error: Could not find wasm-bindgen`

i tried to update `wasm-pack` to version `v0.5.1` but it stills raising an error

full log
[code]

[2018-10-18 07:03] amcsi commented on #57
I'm having the same as @rsmelo now too.

[2018-10-18 09:49] fitzgen commented on #57
@rsmelo @amcsi if you run `wasm-pack build` in the `crate` directory, does that execute OK?

@xtuc @sendilkumarn is the wasm-pack plugin running with `-m no-install`? If so, that shouldn't be necessary anymore, since `wasm-pack build` will automatically determine if installing wasm-bindgen is unnecessary since 0.5.0.

[2018-10-18 10:58] amcsi commented on #57
Yup, it worked, thanks :)
Closing.

[2018-10-18 10:58] #57 closed

[2018-10-19 23:17] nikgraf commented on #22
@sendilkumarn how can I upgrade running  `npm init` or what do you mean?

[2018-10-20 14:57] sendilkumarn commented on #22
@fitzgen Can we release a new version? Please remove `cargo.lock` in the new version. It causes issue.

@nikgraf I am re-opening this, please try to use the new version and let us know if you have the same error.

Can you also share us more info? like the `create-rust-webpack.js` from your installation ? It will be inside the global node_modules folder.

[2018-10-20 14:58] sendilkumarn commented on #22
`npm  i -g create-rust-webpack`

[2018-10-22 22:30] nestoralonso opened #62 "After running steps webpack error"
After running the following commands in a new folder:
[code]

I get the following error
[code]

My setup is as following on a MacOS:

webpack-dev-server 3.1.9
webpack: 4.20.2
wasm-pack 0.5.1
cfg-if = "0.1.5"
wasm-bindgen = "0.2.25"

[2018-10-23 09:40] xtuc commented on #62
Could you please share the full output? My guess is that the compilation of the crate failed just above.

[2018-10-23 14:10] fitzgen commented on #22
Published.

[2018-10-23 14:11] nestoralonso commented on #62
He is the full output, last time I tried it did work like a charm, you can close the issue:

[code]

[2018-10-23 15:03] fitzgen commented on #62
I'm able to reproduce this -- it feels like this is something to do with path resolution inside webpack somewhere?

The `crate/pkg` directory exists but it doesn't have the wasm and js files.

[2018-10-23 15:44] xtuc commented on #62
I'm not sure why it works on my side. Is there a difference between the published version on npm and the git?

[2018-10-23 18:54] zhentian-wan commented on #62
+1

[2018-10-23 20:05] sendilkumarn commented on #22
Thanks @fitzgen

@nikgraf it should be working now without any problem. Please try it inside a new directory.

[2018-10-23 20:05] #22 closed

[2018-10-23 20:10] sendilkumarn commented on #62
@fitzgen did you try with the latest version? It looks like a flaky issue @xtuc I think it should be from the plugin, if there is one.

[2018-10-24 12:45] fitzgen commented on #62
I did it from master.

It looks like it is still using a `wasm-pack-plugin` that runs `wasm-pack` in `no-install` mode or something? Here is what I did and what happened: https://gist.github.com/fitzgen/6db17c724943c39be56dd40e68de8766

[2018-10-24 12:47] fitzgen commented on #62
Yeah looks like we need a newer version of `wasm-pack-plugin` because the one getting pulled in is doing `no-install` mode:

[code]

[2018-10-24 13:09] fitzgen commented on #62
Ok, I merged the `wasm-pack-plugin` version bump, and now the crate compiles as expected, but there seems to be some JS error afterwards:

[code]

[2018-10-24 19:11] saolsen opened #65 "build hangs forever"
I'm using a fresh clone of this projet from today. When I run `npm run build` the build seems to complete but the npm command never finishes and just hangs forever.

[2018-10-24 19:50] xtuc commented on #62
We could use npm's lockfile to avoid that issue.

The error is actually from Webpack, would you mind opening an issue there?

[2018-10-25 08:33] fitzgen commented on #62
Looks like there is already an issue open on this: https://github.com/webpack/webpack/issues/8261

Closing in favor of that.

[2018-10-25 08:33] #62 closed

[2018-10-25 09:41] fitzgen commented on #65
Hi @saolsen, are you running into the same issue as #62 with something about `importedNames`?

If not, can you provide detailed steps to reproduce and console output? Thanks.

[2018-10-29 09:06] fitzgen commented on #62
This got fixed in upstream webpack and I just pushed a commit that bumps our webpack to a version that includes the fix.

[2018-10-29 14:04] #20 closed

[2018-11-02 16:52] fitzgen opened #69 "Does not recompile the crate after encountering an error"
### Steps to reproduce:

* Edit `crate/src/lib.rs` to have a syntax error
* `npm run start` -- note the compilation errors
* Remove the syntax error

### Expected results

The crate is automatically rebuilt with `wasm-pack build` after the syntax error is removed and the file is saved.

### Actual results

The crate is not rebuilt.

[2018-11-13 22:31] #39 closed

[2018-11-18 19:14] dlight opened #76 "How to enable live reloading of Rust code?"
Hello, I've found this template with live reloading

https://github.com/rustwasm/rust-webpack-template

But I'm unsure how to integrate with the one on this repo. Is it something on webpack.config.js?

Anyway I think this would be a good feature to have.

[2018-11-18 19:15] dlight commented on #76
Oh, [here](https://github.com/rustwasm/rust-webpack-template/pull/7/files#r207707621) @xtuc said

Did it work out?

[2018-11-18 19:55] xtuc commented on #76
Live reloading should work now.

The `wasm-pack-plugin` plugin (see https://github.com/rustwasm/rust-webpack-template/blob/master/webpack.config.js#L21-L23) does the watching.

[2018-11-19 06:33] xtuc commented on #76
Are you using this template? It would recompile and reload the page when editing a `*.rs` file defined in the `crateDirectory` directory (`crate` by default).

[2018-11-19 13:58] dlight commented on #76
I am, and it doesn't recompile when editing a `*.rs` file. :(

But I found out that it live-reloads if I run `wasm-pack` manually. So the problem is indeed in the `WasmPackPlugin` bit.

Here `npm install` warns

[code]

It seems fsevents is a macOS-only library for watching filesystem events. I'm running Linux; perhaps that's the problem? (but in Linux it should just use inotify..)

[2018-11-19 17:49] xtuc commented on #76
I'm using Linux too and it works, we use the same library that Webpack uses for its watcher, it should be working on all platforms.

Do you see a compilation error ? What happens if you run `cargo build` in the crate directory by hand?

[2018-11-19 21:05] rumanbsl commented on #76
I secon this. I am on mac. Editing /crate/*.rs does not do anything, unless I restart the server

[2018-11-20 17:44] xtuc commented on #76
Ok so I guess it's a bug
@fitzgen it should probably be "blocking" Rust release?

[2018-11-22 17:45] dlight commented on #76
@xtuc no compilation error. I can edit the crate and issue `cargo build` just fine (but it won't live reload).

If I run `wasm-pack build`, it builds fine too; and then webpack live reloads.

[2018-11-29 17:56] drager commented on #69
I'm currently giving this is a shot.

[2018-11-29 18:56] drager commented on #76
I think this is basically the same issue as #69. I have submitted a PR for this in #81, but it waits for a PR in https://github.com/wasm-tool/wasm-pack-plugin/pull/43. I think we should try to reproduce this issue after those PR's have been merged (if they will get merged that is).

[2018-11-30 18:50] fitzgen commented on #69
Was this fixed by #82? @sendilkumarn @drager

[2018-12-02 23:51] MaxBittker commented on #65
I'm getting this  too @saolsen

[2018-12-02 23:58] MaxBittker commented on #65
however my setup has many of my own modifications so I can't be sure if the problem is my own or in wasm-pack-plugin. just chiming in because I found this issue while debugging

[2018-12-03 16:50] xtuc commented on #65
Have you tried to compile the crate yourself? run `cargo build` in the `crate` folder.

[2018-12-04 06:36] MaxBittker commented on #65
good question, that part terminates successfully, it's the webpack part that doesn't

[2018-12-04 13:08] xtuc commented on #65
One thing that come to my mind is that we used to keep watching even for a one time build, maybe that's what you are observing. IRC we released a fix already but i'm not sure. maybe cc @sendilkumarn?

[2018-12-04 21:14] MaxBittker commented on #65
you're right, it does appear to be watching for changes to the crate. I'll double check i'm on the latest version later.

[2018-12-04 21:20] MaxBittker commented on #65
it's fixed! I had an old binary! :100:

[2018-12-05 08:35] #65 closed

[2019-01-04 14:17] ashleygwilliams commented on #44
https://github.com/VictorGavrish/rust-wasm-worker-template this is also a worker example!

[2019-01-09 11:30] Pauan opened #95 "Install step doesn't work"
I just tried to use `npm init rust-webpack todomvc` and I get this error:

[code]

If I manually run `npm install` in the `todomvc` directory it works fine, though I get these warnings:

[code]

# Metadata

**OS:** Windows 10 64-bit
**wasm-pack:** 0.5.1
**Node:** v10.15.0
**npm:** 6.4.1

[2019-01-09 17:55] fitzgen commented on #95
Thanks for the bug report @Pauan!

[2019-01-10 20:51] #95 closed

[2019-01-10 20:52] fitzgen commented on #95
This works for me after #96:

[code]

If you're still running into issues, @Pauan, please re-open!

[2019-01-11 18:10] Pauan commented on #95
I just tested it, and it still doesn't work. I'm not surprised, since the error says `spawn npm ENOENT` (meaning it can't find the `npm` runtime), which doesn't have anything to do with npm audit.

[2019-01-11 18:17] Pauan commented on #95
Actually, why does it use the synchronous `fs` stuff but the async `child_process` stuff? I'll send a PR.

[2019-01-11 18:30] Pauan commented on #95
I found the issue: you have to specify `shell: true` on Windows in order for it to find `npm` on the PATH. I created a PR which fixes it: https://github.com/rustwasm/rust-webpack-template/pull/98

[2019-02-13 08:19] daef opened #108 "cannot init template"
I get a strange error trying to init the rust-webpack template:

[code]
Any hints where to start looking? rust and wasm-pack are fresh installations.

[2019-02-13 12:25] xtuc commented on #108
That's strange, the only commands that we spawn during installation are git and npm, I assume you both have this commands.

@fitzgen I can't see the appveyor builds, are we passing the installation on windows?

[2019-02-13 13:28] daef commented on #108
[code]

[2019-02-13 13:33] daef commented on #108
looks like https://github.com/rustwasm/rust-webpack-template/issues/95 might be related...

[2019-02-13 13:41] daef commented on #108
it gets better: it seems to work when I bang in the create-rust-webpack.js into a node instance manually:

[code]

[2019-03-04 16:27] bantic opened #116 "`npm run start` compiles crate in "dev" profile by default"
### Describe the Bug

`npm run start` uses the [`WasmPackPlugin`](https://github.com/rustwasm/wasm-pack) to compile the associated crate, and that plugin [compiles in "dev" profile by default](https://github.com/wasm-tool/wasm-pack-plugin/blob/master/README.md#usage).
This wasn't obvious (to me), and it seems that it contravenes other [documentation in the wasm-pack book](https://rustwasm.github.i

[2019-03-04 16:29] bantic commented on #116
I made a PR (#117) to add some info to the webpack config that would have helped me.
If it would be useful, I'd be happy to make a follow-up PR to modify the README to point this out, or take a stab at modifying the command-line output to add "in X profile" to the `Compiling your crate...` message.

[2019-03-04 16:45] xtuc commented on #116
It would be great if you can change the compilation message to indicate the env, :+1:

[2019-03-06 17:04] bantic commented on #116
@xtuc 	Thanks! Added a PR for the wasm-pack-plugin: https://github.com/wasm-tool/wasm-pack-plugin/pull/54

[2019-03-29 06:48] montag opened #123 "Published NPM package is stale"
### Describe the Bug
Since the NPM package release is still at 1.15 from Oct, I'm not getting the fix from #75 (Nov) and it's swallowing an underlying error. Any chance a new version can get publish?

[2019-03-29 13:14] xtuc commented on #123
@fitzgen could you please publish a new version?

[2019-03-29 16:24] fitzgen commented on #123
Published! I also added you as an owner @xtuc :)

[2019-03-29 16:24] #123 closed

[2019-04-01 11:21] xtuc commented on #123
Great, thanks!

[2019-04-02 15:49] dependabot[bot] opened #125 "Dependabot couldn't find a Cargo.toml for this project"
Dependabot couldn't find a Cargo.toml for this project.

Dependabot requires a Cargo.toml to evaluate your project's current Rust dependencies. It had expected to find one at the path: `/Cargo.toml`.

If this isn't a Rust project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments below to

[2019-04-10 14:58] xtuc commented on #125
cc @fitzgen, could we please fix it? Is there a way to configure it using a file?

[2019-04-10 19:02] fitzgen commented on #125
It looks like it is configured to look at `crate/Cargo.toml` now -- I don't know if anyone else changed it since this issue was filed. I kicked off a bump check now, so we will see if it has issues or not...

[2019-04-12 20:06] xtuc commented on #125
Cool, thank you. Let's close this for now.

[2019-04-12 20:06] #125 closed

[2019-05-25 04:54] nixpulvis commented on #62
FWIW, I was getting this error with a conflicting webpack configuration (admittedly copied from a react babel template):

[code]

Removing this fixed my issue.

[2019-06-11 13:38] #27 closed

[2019-06-11 14:01] dependabot-preview[bot] opened #147 "Dependabot couldn't find a Cargo.toml for this project"
Dependabot couldn't find a Cargo.toml for this project.

Dependabot requires a Cargo.toml to evaluate your project's current Rust dependencies. It had expected to find one at the path: `/crate/Cargo.toml`.

If this isn't a Rust project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments be

[2019-06-19 15:01] kraenhansen opened #148 "Running `npm init rust-webpack my-app` yields an unexpected result"
### Describe the Bug

Running `npm init` with `rust-webpack` yields a directory which is not what I expected.

### Steps to Reproduce

1. Run `npm init rust-webpack my-app`
2. List directory `ls -la my-app`
3. Notice that this is not the template directory as expected.

### Expected Behavior

When I init from `rust-webpack` I expect the newly created directory to have the contents of the [`templat

[2019-06-19 18:16] kraenhansen opened #149 "Module not found: Error: Can't resolve '../pkg/index.js' in '/absolute-project-path/js'"
### Describe the Bug

Running the `start` script yields an error.

### Steps to Reproduce

1. Install the template using `npm init rust-webpack my-app`
2. Change directory into the `template` and `npm install` (because of #148)
3. Start the webpack dev server by running `npm start`

### Expected Behavior

I would expect to load the template project and see "hello world" printed in the console of t

[2019-06-19 18:27] Pauan commented on #149
I'm unable to reproduce this. I followed your directions exactly, but everything works fine.

What is your wasm-pack version? What OS are you using?

[2019-06-19 18:31] kraenhansen commented on #149
I'm running `wasm-pack 0.6.0` and I have run `rustup update`, so perhaps thats the root cause.
I don't know how to update `wasm-pack`? https://github.com/rustwasm/wasm-pack doesn't tell me.

[2019-06-19 18:33] Pauan commented on #149
Yeah, that's probably the reason: your wasm-pack is way out of date.

You can update it by [just installing the latest version](https://rustwasm.github.io/wasm-pack/).

[2019-06-19 18:39] kraenhansen commented on #149
I'm on `wasm-pack 0.8.1` and the issue persists. I can fix the error by changing the contents of `js/index.js` to:

[code]

Apparently the output of wasm-bindgen is emitted to disk into the `./index` folder:

[code]

[2019-06-19 18:41] Pauan commented on #149
Just to make sure: you tried completely deleting the `my-app` directory and re-doing all the steps again from scratch (including `npm init rust-webpack my-app`)?

[2019-06-19 20:07] kraenhansen commented on #149
That fixed it - thanks!

It would be _really_ nice if some assertions were made about the versions of the various tools in the toolchain and nice warnings would be printed if the user is running outdated tools. Especially starting out, its easy to forget which tools you've installed and how, as learning Rust could be a thing you do on-and-off between other things.

[2019-06-19 20:07] #149 closed

[2019-06-19 20:28] Pauan commented on #149
wasm-pack [already does that check and outputs a warning](https://github.com/rustwasm/wasm-pack/pull/409), but that feature was added in version 0.8.0

[2019-06-21 18:03] LukeSugiura commented on #148
Indeed, I'm a newcomer and got super confused.

For newcomers like me, you can work around this by running this code until the new version gets released.
[code]

[2019-06-23 17:37] anlumo opened #150 "npm run-script build on an unchanged template fails"
### Describe the Bug

I can't build a project created from this template for deployment (the dev server works fine).

### Steps to Reproduce

1. Created new project with `npx github:rustwasm/rust-webpack-template wasm-test-webpack`
2. Built project with `npm run-script build`

### Expected Behavior

A compiled project in dist.

### Actual Behavior

    🧐  Checking for wasm-pack...

    ✅  wasm-pac

[2019-06-23 17:47] Pauan commented on #150
Please see https://github.com/rustwasm/wasm-bindgen/issues/1613

[2019-06-26 18:40] fitzgen commented on #148
Published a new version and this should be fixed! Thanks for filing an issue!

[2019-06-26 18:40] #148 closed

[2019-06-27 08:13] kraenhansen commented on #148
@fitzgen did you test this? I am getting the following error now:

[code]

When I manually run the `git clone --no-tags --depth 1 https://github.com/rustwasm/rust-webpack-template.git my-app/git-clone` command in my terminal I get:

[code]

I have git version `2.13.1` on a Mac. While I see that this might be slightly outdated it could be good if the tool didn't make assumptions on the features of

[2019-06-27 08:28] Pauan commented on #148
@kraenhansen Git 2.13.1 was released on Jun 5, 2017, that's over 2 years ago. You *really* should upgrade, not just for features, but also for performance and security improvements.

I agree that fetching a tarball would be better, but that'll require some changes.

[2019-06-27 08:31] kraenhansen commented on #148
@Pauan I did and that fixed the problem. But again - for an average newcomer, that would not be an obvious next action from the terminal output.

[2019-08-05 22:45] rajeevriitm commented on #108
i am still having this  problem. Did anyone find a solution?

[2019-08-07 13:51] minagawah commented on #108
I upgraded my Git version from `2.7.4` to `2.22.0`, and it now works fine.
Reason being, `create-rust-webpack` seems to use `--no-tags` option
when `git clone`, and older version of Git does not have such option.

[2019-08-24 09:54] jamesgeorge007 opened #154 "Validate whether if Git is installed in advance"
### Motivation
The utility assumes `git` is already installed and fails miserably if that is not the case (throws an error).

### Proposed Solution
IMO, it is good to validate the respective case upfront and warn appropriately.

### Alternatives
N/A

### Additional Context
N/A

[2019-08-24 17:11] sendilkumarn commented on #154
Hi @jamesgeorge007 would you be interested to submit a PR?

[2019-08-25 05:59] jamesgeorge007 commented on #154
yeah, sure :+1:

[2019-08-25 07:00] jamesgeorge007 opened #156 "Fails on supplying unknown options"
### Describe the Bug

It fails miserably when an unknown option is supplied (we're not depending on any sort of argument parser libraries).

### Steps to Reproduce

`create-rust-webpack -i` (random flag supplied)

### Expected Behavior

An appropriate warning message such that no flags are expected. (The respective case should be validated apppropriately.)

### Actual Behavior

If applicable, add

[2019-08-26 21:01] sendilkumarn commented on #156
@jamesgeorge007 I would prefer it not to use any argument parsing libraries or any libraries per se.

I will not consider it as a bug. But may be an error handling here might be useful. WDYT?

[2019-08-28 14:19] #154 closed

[2019-08-28 17:03] jamesgeorge007 commented on #156
yeah, I would happily submit a PR :+1:

[2019-08-28 20:20] sendilkumarn commented on #156
Sure thanks then go for it

[2019-10-08 03:11] drewctate opened #158 "Why the asyncronous import style that doesn't match the docs"
### Summary

This repository uses the `import()` function instead of the `import` statement like all the documentation the readme links to [for example](https://rustwasm.github.io/docs/wasm-pack/tutorials/npm-browser-packages/using-your-library.html).

Why was the traditional import syntax I see in the tutorials and the deprecated version of the repository abandoned? Is it simply because wasm file

[2019-10-09 00:01] Pauan commented on #158
Webpack requires the dynamic `import()`. This will be fixed in the future, but for now it is necessary.

That documentation page is outdated.

[2019-10-09 14:44] drewctate commented on #158
Thanks.

[2019-10-09 14:44] #158 closed

[2019-10-10 21:20] rbtcollins commented on #43
I have a variant on this that I haven't quite puzzled my way through, and thats exporting a typescript *package* that is using wasm-bindgen as an accelerator for just some parts of it. Doing the async import  dance around the entry points for browser bundles is easy, but I'm having some head scratching getting there - it seems like webpack still wants an await around that, even though as a library

[2019-11-05 19:10] #156 closed

[2020-01-12 03:57] tracymedcalf opened #159 "can't init template"
### Summary
Running

`npm init rust-webpack your-package-name`

in the terminal on Ubuntu.

#### Expected behavior

The template should be cloned into the current directory.

#### Actual behavior
The command creates a package.json and nothing else. None of the files or directories that the tutorial says are supposed to be there are created.

### Additional Details

I've checked that npm and wasm-p

[2020-01-12 05:29] #159 closed

[2020-01-12 05:30] tracymedcalf commented on #159
Not sure what resolved the issue, but it's now working.

[2020-01-14 17:37] zancas commented on #108
I hit the same issue, here's an informative traceback that show git failing:

[code]

I ran the git command in isolation and can confirm that `git version 2.11.0` does not support `--no-tags`.

[2020-02-28 02:40] ishitatsuyuki opened #163 "Cargo complains about debug_assertions optional dependencies won't work"
### Describe the Bug

See the descriptive Cargo warning message:

### Steps to Reproduce

[code]

[2020-03-17 18:49] Toruitas commented on #108
Running Ubuntu 18.04, `git version 2.25.1`, getting the same error.

[2020-03-21 21:44] DhruvDh commented on #108
not working on windows or WSL for me with git 2.25.1
[code]

[2020-03-25 08:52] GeraldHost opened #165 "Crate in sub directory causes pkg to be created in the root."
This may be intended behaviour and I'm missing something so apologies if that is the case.

When I nest my rust code in a subdirectory an run a build. A `pkg` directory is created in the root of my project with an empty `index.js` file in it. Everything else is working as expected, a `pkg` folder still gets created in my rust subdirectory and I can consume the `index.js` from there as expected.

#

[2020-03-25 08:57] GeraldHost commented on #165
Closing as this is not the right place for this.
This is: https://github.com/wasm-tool/wasm-pack-plugin/issues/87

[2020-03-25 08:57] #165 closed, assigned to nobody

[2020-04-20 20:52] KMarshland opened #167 "Using rust webpack in library form fails"
### Describe the Bug

Using Rust/WASM creates multiple build files by necessity, as WASM requires dynamic imports to work. However, when trying to consume a library that does so, it cannot find the wasm file.

### Setup

Let's call the library foo-library. foo-library has a number of files, one of which uses a dynamic import of pkg/index.js. When I use webpack to build the release version, it prop

[2020-04-21 17:32] Pauan commented on #167
@KMarshland You shouldn't be using Webpack to create libraries, it is intended for applications only.

If you want to create a library, you should use [this](https://github.com/rustwasm/wasm-pack-template) instead.

Your library is supposed to just provide the raw ES6 modules and `.wasm` file, and the *consumer* is supposed to use Webpack to bundle everything together.

[2020-04-21 17:32] #167 closed, assigned to nobody

[2020-06-09 15:41] kayojobor commented on #108
Running Ubuntu 16.04, had following error:

    npm info it worked if it ends with ok
    npm verb cli [
    npm verb cli   '/home/kayojobor/.nvm/versions/node/v14.4.0/bin/node',
    npm verb cli   '/home/kayojobor/.nvm/versions/node/v14.4.0/bin/npm',
    npm verb cli   'init',
    npm verb cli   'rust-webpack',
    npm verb cli   'hello',
    npm verb cli   '--verbose'
    npm verb cli ]
    npm

[2020-07-11 10:07] helabenkhalfallah commented on #62
Hello, I get this error when I missed to install :
https://rustwasm.github.io/wasm-pack/installer/

After installing, my project runs.

Thanks.

[2020-07-19 16:00] helabenkhalfallah opened #169 "Rust + WASM vs JS performance"
### Summary
Hello, I want to use WASM in my frontend projects but comparing Rust + WASM performance vs JS, I always get JS more faster :

**My project :**
https://github.com/helabenkhalfallah/rust-react-wasm-js

I tried also many optimization flags combination, like :

[code]

**Benchmarks :**
1- Filter a big array to keep only numbers (4000 records)
2- Sort, map, filter a big array (about 10000 r

[2020-07-23 05:02] helabenkhalfallah commented on #169
Hello, have you any suggestions how can I enhance performance and reduce bundle size ? Why Rust + Wasm are slower than JS, is this due to memory read/write and wasm boot time ? Could you help me to go further more in my tests and adoption. Thanks.

[2020-08-01 13:50] jpryne opened #170 "the trait `std::future::Future` is not implemented for `impl futures::future::Future`"
the trait `std::future::Future` is not implemented for `impl futures::future::Future`

### Steps to Reproduce
(I'm using Ubuntu MATE-64bit on a Raspberry Pi4.)
1. Compile the template

### Expected Behavior
The template compiles without error or warnings.

### Actual Behavior
[code]

[2020-08-01 15:29] yokra9 commented on #163
I created PR( #168 ) to solve this issue. Please review to merge.

[2020-08-06 16:12] madprogramer commented on #108
On macOS Catalina, upgrading git also fixed it for me.

For help on upgrading on Mac see: https://apple.stackexchange.com/a/272220/253705

[2020-08-08 13:35] ghost opened #171 "Trouble building on Windows"
### Summary

I have created a new package using the following command: npm init rust-webpack <project name>.

Whenever I tried to build my project the build fails with an error I'm not sure what it means:

[code]

### Additional Details

Nothing I can think of.

[2020-10-11 05:27] sotrh opened #174 "Error: Bad error code when running `npm install`: 1 | Linux Mint"
I'm trying to create a rust webpack project. I run the `npm init rust-webpack my-app` and I get the following error.

[code]

The script does create the files for the project, but when I run `npm install` I get the following.

[code]

I've attached the log mentioned.

[2020-10-11T05_26_15_417Z-debug.log](https://github.com/rustwasm/rust-webpack-template/files/5360620/2020-10-11T05_26_15_417Z-debug

[2020-10-31 21:19] alanbosco opened #176 "Error when using Yarn to init starter kit."
I tried to initialize with yarn instead of npm.

`yarn create rust-webpack test-app       `

   ERROR
[code]

I tried these

[code]

lead to :

`zsh: command not found: create-rust-webpack `

and  then

[code]

again leads to :

`zsh: command not found: create-rust-webpack `

With NPM this works perfectly.

node - v14.15.0
yarn - v1.22.4
WSL Ubuntu - 20.04.1 LTS
shell - zsh

[2020-10-31 21:20] alanbosco commented on #176
[Yarn Global Doc](https://classic.yarnpkg.com/en/docs/cli/global)

[2020-12-06 12:10] lukbukkit commented on #171
You have to install [wasm-pack](https://rustwasm.github.io/wasm-pack/installer/) to build your Rust application

[2020-12-09 08:31] #171 closed, assigned to nobody

[2021-06-09 15:25] LeilaMoussa commented on #170
I am facing a very similar issue in my own project. I can't find any resources. Would you happen to have solved the problem?

[2021-09-10 13:30] alucardpj commented on #169
this problem maybe due to WasmPackPlugin，this plugin will build the wasm in debug mode by default, until you set the

 explicitly. If you directly run "wasm-pack build", it will build in production mode, so there is a huge gap between these two testing result. You can turn this setting and have a try.
This bug bothered me whole day. WTF!
Hope it can help you!

[2021-12-26 12:47] felixfaire opened #179 "Webpack dev-server fails to run with node 17.0.1+"
This is a webpack 4 bug that is described [here](https://stackoverflow.com/questions/69665222/node-17-0-1-gatsby-error-digital-envelope-routinesunsupported-err-ossl-evp) (second answer seems the most relevant). This issue is supposedly resolved in webpack 5.61.0+.

### Steps to Reproduce

1. Run the template (npm run start) with node 17.0.1 or higher installed

### Expected Behavior

Template runs

[2022-01-02 02:24] chmnchiang opened #180 "webpack does not rebuild after rust source files are changed more than twice."
### Describe the Bug

Running `yarn start` should start a dev-server that will recompile webpack bundle every time the rust source file is changed, but it fails to do so after a few changes.

### Steps to Reproduce

1. In any directory, run `npm init rust-webpack my-app` to clone the template.
2. `cd my-app` and then `npm start` to start the dev server.
3. Edit `src/lib.rs`, for example, duplicate

[2022-01-07 11:14] pkelleter commented on #180
@chmnchiang

This seems to be an issue with webpack or webpack-dev-server itself. The wasm file is built with a hash for long-term caching and this hash seems not to update more than once. I had the exact same issue with the game-of-life tutorial and tried to fix it for several hours until i gave up. After seeing that the same issue seems to exist on this repository i got suspicous and changed the

[2022-01-09 13:35] SonyStone commented on #180
https://github.com/wasm-tool/wasm-pack-plugin/issues/125#issuecomment-1004694898

[2022-03-23 22:39] OriUrano opened #183 "Cant get template downloaded"
Im trying to download this template, but im getting this error:

[code]

Can someone please help me?

[2022-06-23 00:30] simon-ritchie commented on #183
Maybe related:

https://github.com/rustwasm/rust-webpack-template/issues/171

[2022-07-02 00:16] DDR0 opened #184 "npm start fails with `error:0308010C:digital envelope routines::unsupported`"
After running `npm init rust-webpack sand2`, I get the following unexpected error when running `npm start`.
[code]

[2022-08-25 14:03] GuillaumeDesforges opened #185 "Upgrade to edition 2021"
I encountered this issue on Bevy: bevyengine/bevy#5788

Solution was to upgrade the edition to 2021.

For a newcomer like me this was tricky to figure out, so it might be preferable to keep "edition" up to date.

[2022-09-22 19:30] Nebdir commented on #184
Same here, tried on two systems.

[2022-11-10 01:02] tomgroenwoldt commented on #184
Hey, I got rid of this error by downgrading my nodejs to v14.21.0 (nodejs-lts-fermium).

[2022-11-10 21:28] ailonn commented on #184
hi ! I met the same error following this tutorial : https://rustwasm.github.io/docs/book/game-of-life/hello-world.html

[code]

-------

I downgrade my nodejs to the LTS v16.18.1 (Gallium) to get rid of this error.